.dropdown-menu .dropdown-item:not(.dropdown-header):hover {
  background-color: #007bff;
}

.dropdown-menu .dropdown-item.dropdown-header:hover,
.dropdown-menu .dropdown-item.dropdown-header:focus  {
  background-color: #fff;
}

.media-body .text-sm,
.bg-primary a.dropdown-footer,
.dropdown-menu .dropdown-item,
.media-body .dropdown-item-title {
  color: #6E5A53 !important;
}

.dropdown-menu .dropdown-item:hover .media-body .text-sm,
.bg-primary, .bg-primary a:hover, .label-primary, .label-primary,
.dropdown-menu .dropdown-item:hover .media-body .dropdown-item-title {
  color: #f0f0f0 !important;
}